.year-choice {
  &--list {
    list-style: none;

    display: flex;
    flex-flow: row wrap;
    width: 100%;
  }

  &--list-item {
    font-size: 2rem;
    font-weight: bold;

    width: 22rem;
    height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
    border-radius: calc(var(--border-radius) - 0.5rem);
    background-color: var(--color-white);
    cursor: pointer;

    &__active {
      background-color: var(--color-green);
      color: var(--color-white);
    }
  }
}
