:root {
  --color-white: #ffffff;
  --color-black: black;
  --color-background: #ffffff;
  --color-nav: #ffffff;
  --color-pink: #fcbbdd;
  --color-primary: #ef314b;
  --border-radius: 1rem;
  --bar-padding: 1rem 2rem;
}
