.body {
    padding: 2rem;
    display: grid;
    grid-template-rows: auto auto;
}

.container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 3rem auto;
    column-gap: 5rem;
    row-gap: 2rem;
}

.header {
    text-align: center;
    font-size: 2rem;
}

.feedback-header {
    font-size: 2rem;
}

.demand-container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 2rem;
}

.order {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
}

.demand-image-container {
    width: 100%;
    text-align: center;
}

.demand-image {
    width: 90%;
}


.feedback-container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2rem;
}

.feedback-date {
    font-size: 1.2rem;
}

.feedback-question {
    margin-top: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: lightgray;
    padding: 1rem;
    border: none;
}

.feedback-question-options {
    background-color: white;
}

.feedback-answer-wrapper {
    margin-top: 1rem;
    background-color: lightgray;
    height: 15rem;
    max-height: 15rem;
}

.feedback-answer {
    resize: none;
    font-size: 1.5rem;
    width: 100%;
    height: 11.5rem;
    max-height: 11.5rem;;
    background-color: lightgray;
    padding: 1rem;
    border: none;
}

.feedback-answer:focus {
    outline: none;
}

.feedback-answer-label-wrapper {
    border-top: 1px solid #000;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem;
}

.feedback-answer-tag {
    float: right;
    padding: 0.2rem 1rem;
    border: none;
    border-radius: 0.5rem;
    margin: 0 0.5rem;
}

.tag-green {
    background-color: var(--color-green);
    color: var(--color-white);
}

.tag-blue {
    background-color: var(--color-blue);
    color: var(--color-white);
}



