.body {
    padding: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: 3rem auto;
    column-gap: 5rem;
    row-gap: 2rem;
}

.header {
    text-align: center;
    font-size: 2rem;
}

.feedback-header {
    font-size: 2rem;
}

.demand-container {
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 2rem;
}

.order {
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
}

.demand-image-container {
    width: 100%;
    text-align: center;
}

.demand-image {
    width: 90%;
}


.feedback-container {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 2rem;
}

.feedback-date {
    font-size: 1.2rem;
}

.feedback-question {
    margin-top: 1rem;
    font-size: 1.5rem;
    width: 100%;
    background-color: lightgray;
    padding: 1rem;
    border: none;
}

.feedback-question-options {
    background-color: white;
}

.feedback-answer-wrapper {
    margin-top: 1rem;
    background-color: lightgray;
    height: 15rem;
}

.feedback-answer {
    font-size: 1.5rem;
    width: 100%;
    height: 12rem;;
    background-color: lightgray;
    padding: 1rem;
    border: none;
}

.feedback-answer:focus {
    outline: none;
}

.feedback-answer-label-wrapper {
    border-top: 1px solid #000;
    margin: 0 1rem 0 1rem;
    padding: 0.5rem;
}
