@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;500;700&display=swap');

body, * {
  font-family: 'Prompt', sans-serif
}

nav {
  position: sticky;
  top: 0;
  height: 90px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 12%),
    0 2px 4px rgb(0 0 0 / 24%);
}

.header-logo {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 50%;
  margin-left: 20px;
}

.container {
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.left-panel {
  position: fixed;
  left: 15px;
  width: 200px;
}

.content {
  /* text-align: center; */
  /* position: fixed; */
  /* left: 215px; */
}

.right-panel {
  position: fixed;
  right: 15px;
  width: 600px;
}

.footer {
  position: fixed;
  left: 15px;
  bottom: 15px;
}